<header>

  <nav id="nav">
    <ul id="nav-links">
      <li><a href="#">HOME</a></li>
      <li><a href="#">LADIES</a></li>
      <li><a href="#">MEN</a></li>
      <li><a href="#">KIDS</a></li>
      <li><a href="#">COLLECTIONS</a></li>
      <li><a href="#">CONTACT</a></li>
      <li id="nav-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fas fa-search"></i></a>
      </li>
    </ul>
  </nav>
  <section id="splash">
    <div id="logo"></div>
  </section>

</header>

<app-product-detail></app-product-detail>

<footer>
  <p> Test</p>
</footer>