<header>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <ul id="nav-links">
        <li><a href="/content">HOME</a></li>
        <li><a href="/collection?id=all">SHOP ALL</a></li>
        <li><a href="/collection?id=ladies">LADIES</a></li>
        <li><a href="/collection?id=men">MEN</a></li>
        <li><a href="/collection?id=kids">KIDS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li id="utilities">
          <a href="#"><i class="fas fa-search"></i></a>
          <a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
  <section id="splash">
    <div id="logo"></div>
  </section>

</header>

<router-outlet></router-outlet>

<footer>
  <div class="footer-links">
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/returns">Returns</a>
    <a routerLink="/privacy">Privacy Policy</a>
    <a routerLink="/terms">Terms &amp; Conditions</a>
  </div>
  <div id="nav-social">
    <h3>Follow Us!</h3>
    <div>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fas fa-search"></i></a>
    </div>
  </div>
  <div></div>
<p>&copy;ENVY Clothing Co.</p>
</footer>