#nav {
    background-color: #00BCD4;
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

#nav-social > div > a, #nav-social > h3, .footer-links > a, footer > p {
    margin: 10px;
    color: white;
}

#nav-social > div {
    text-align: center;
}

#utilities {
    margin-right: 100px;
    float: right;
}

#utilities > a {
    padding: 10px;
}

#search > i {
    margin-right: 100px;
}


#nav-links {
    list-style: none;
    padding: 16.5px 0px 16.5px 0px;
    font-size: 16px;
}

#nav-links {
    margin: auto;
    width: 1183px;
}

#nav-links > li {
    display: inline;
    margin: 0px 0px 0px 44px;
}

#nav-links > li > a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#splash {
    margin: 55px 0px 50px 0px;
    padding: 24px 192px 24px 192px;
}

#logo {
    margin: auto;
    height: 192px;
    width: 480px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/millennial-birthmom.appspot.com/o/millenial-birthmom-01.png?alt=media&token=19b94f8c-2651-484d-ae95-a7da184f5652");
}

footer {
    background-color: #383634;
    margin: 0;
    overflow: auto;
    padding: 25px 5% 0px 5%;   
}

.footer-links > a {
    text-decoration: none;
    display: block;
    margin: 10px 100px 10px 100px;
    font-size: 18px;
}

footer > p {
    font-size: 14px;
    text-align: center;
}

footer > div > h3 {
    text-decoration: none;
    margin: 10px 100px 10px 100px;
    font-size: 18px;
    text-align: center;
}


footer > div {
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
}